.page {
  height: 100vh; /* ocupar toda a altura da viewport */
  width: 100%;
  background: linear-gradient(122.01deg, #000000FF 0%, #171A1FFF 100%);
  display: flex;
  position: relative; /* para o z-index funcionar nos filhos */
  overflow: hidden; /* evitar scroll desnecessário */
}

.imageFundo {
  background-image: url('../../assets/167d3ff199c8f413cfce7fde45d0f03a80ad31d12e0386baf8f2213129c47450.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
  opacity: 0.3;
  border-radius: 0 8px 8px 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.card {
  position: relative;
  z-index: 10;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #32374380;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
  background: transparent; /* ou nenhuma cor aqui */
}

.card::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; bottom:0; left:0; right:0 */
  background: rgba(30, 33, 40, 0.5);
  border-radius: 6px;
  z-index: -1; /* fica atrás do conteúdo */
}
.titulo{
    display: flex;
     font-family: 'Urbanist'; 
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  color: #3B82F6FF; 
  
}
.titulo img{
  
  width: 48px; 
  height: 48px; 
  border-radius: 0px 0px 0px 0px; 
}
.subTitulo{
  
 font-family: Urbanist; 
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  color: #F3F4F6FF;
  margin: 20px;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(122.01deg, #0F172AFF 0%, #1E293BFF 100%); */
  padding: 20px;
opacity: 100;
}
.form input{
     width: 366px;
  height: 40px; 
 padding-left: 34px; 
  padding-right: 12px;  
  font-family: 'Inter'; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  background: #323743FF; /* neutral-700 */
  border-radius: 3px; 
  border-width: 1px; 
  border-color: #323743FF; /* neutral-700 */
  border-style: solid; 
  color: #fff;
  outline: none; 
  margin: 7px 0 ;
    
}
.form label{
     font-family: 'Inter'; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #fff;
}
.btn{
    margin-top: 20px;
  width: 366px; 
  height: 40px; 
  border: none;
  font-family: 'Inter';
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  background: #3B82F6FF; /* primary-500 */
  border-radius: 3px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F; /* shadow-xs */
}
.btn:hover {
  color: #FFFFFFFF; /* white */
  background: #1F71F4FF; /* primary-550 */
}
/* Pressed */
.btn:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0B61EAFF; /* primary-600 */
}
/* Disabled */
.btn:disabled {
  opacity: 0.4; 
}
.link{
   font-family: Inter; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #F3F4F6FF;
  margin-top: 7px;
  text-align: center;
}
.link a{
  color: #3B82F6FF;
  text-decoration: none;
}